/* OLD CSS */
body {
   background-color: #1D1C19;
   padding-top: 70px;
}

#header {
   margin-bottom:20px;
}

/* New CSS */
/*body {
   background-color: #1D1C19;
   padding-top:2em;
   padding-bottom:2em;
}*/

.row {
   margin-bottom:.5em;
}

.no-margin {
   margin:0;
}

.no-border {
   border: none;
}

.border-colored {
   border-width: 2px;
}

.margin {
   margin-bottom:.5em;
}
.no-padding {
   padding:0;
}

.priority1 {
   border-color: #FF0000; #Red
}

.priority2 {
   border-color:#FF8040 ; #Orange
}

.priority3 {
   background-color: #FFFF00; #Yellow
}

.priority4 {
   background-color: #00FF00; #Green
}

.priority5 {
   background-color: #800080; #Purple
}

.priority6 {
   background-color: #0000FF; #Blue
}

.closed {
   background-color: #202020; #Gray
}
