/* OLD CSS */
body {
   background-color: #1D1C19;
   padding-top: 70px;
}

#header {
   margin-bottom:20px;
}

/* New CSS */
/*body {
   background-color: #1D1C19;
   padding-top:2em;
   padding-bottom:2em;
}*/
