
<div class="container">

  <div class="app-panel transition">

      <ng-include src="'clientDash/templates/navbar.html'"></ng-include>

		<div id="header" class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="text-center">911 Caller Queue</h1>
			</div>
		</div>

		<div>
			<div class="panel panel-default" ng-repeat="caller in callerList" >
				<div class="panel-heading">
					Emergency Type: {{caller.emergencyType}}
               <div class="btn-group pull-right" role="group">
                  <button class="btn btn-danger btn-sm" ng-click="deleteCall(caller.callerId)">Delete Call</button>
                  <button class="btn btn-success btn-sm" ng-click="openDetails(caller.callerId)">View Call</button>
               </div>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<span class="col-xs-6">Phone Number: {{caller.phoneNum}}</span>
							<span class="col-xs-6">Caller Name: {{caller.callerName}}</span>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<span class="col-xs-6">Location: {{caller.location}}</span>
							<span class="col-xs-6">TBD</span>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<span class="col-xs-6">Call Elapsed Time: {{caller.callElapsedTime}}</span>
							<span class="col-xs-6">Call Start Time: {{caller.callStartTime}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
