<style>

   .header-img {
      object-fit: fill;
      width: 5rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding-right:1rem;
   }

   .app-panel {
      margin-left: 4%;
      margin-right: 4%;
   }

   .row , .groupheader {
      margin-bottom:.5em;
   }

   .no-margin {
      margin:0;
   }

   .no-border {
      border: none;
   }

   .border-colored {
      border-width: 2px;
      border-radius: 0 0 .25rem .25rem;
   }

   .margin {
      margin-bottom:.5em;
   }

   .no-bottom-margin {
      margin-bottom:0;
   }
   .no-padding {
      padding:0;
   }

   .no-right-padding {
      padding-right: 0;
   }

   .no-left-padding {
      padding-left: 0;
   }

   .border-colored .card-block {
      padding:.5rem;
   }

   .small-card-block {
      padding:.5rem .5rem 0 .5rem;
   }

   .small-padding {
      padding:.5rem;
   }

   .small-card-block > h5 {
      margin-bottom:.5rem;
   }

   .width100 {
      width:100%;
   }

   .priority1 {
      border-color: #FF0000;
   }

   .priority1-background {
      background-color: #FF0000;
      border-color: #FF0000;
   }

   .priority1-text {
      color: #FF0000;
   }

   .priority2 {
      border-color:#ff4d4d ;
   }

   .priority2-background {
      background-color: #ff4d4d;
      border-color:#ff4d4d;
   }
   .priority2-text {
      color:#ff4d4d ;
   }

   .priority3 {
      border-color: #FFFF00;
   }

   .priority3-background {
      background-color: #FFFF00;
      border-color:#FFFF00;
   }

   .priority3-text {
      color: #FFFF00;
   }

   .priority4 {
      border-color: #ffff80;
   }

   .priority4-background {
      background-color: #ffff80;
      border-color:#ffff80;
   }

   .priority4-text {
      color: #ffff80;
   }

   .priority5 {
      border-color: #00ff00;
   }

   .priority5-background {
      background-color: #00ff00;
      border-color:#00ff00;
   }

   .priority5-text {
      color: #00ff00;
   }

   .priority6 {
      border-color: #80ff80;
   }

   .priority6-background {
      background-color: #80ff80;
      border-color:#80ff80;
   }

   .priority6-text {
      color: #80ff80;
   }

   .closed {
      border-color: #808080; /* Gray */
   }

   .closed-background {
      background-color: #808080;
      border-color:#808080;
   }

   .priority-block {
      border-radius: .25rem .25rem 0 0;
   }

   .arrow-lt {
         max-width: 2rem;

   }

   .arrow-lt > img {
      opacity: .5;
         margin-top: auto;
         margin-bottom: auto;
   }

   @media (min-width: 576px) {
      .border-colored {
         border-radius: 0 .25rem .25rem 0;
      }

      .priority-block {
         border-radius: .25rem 0 0 .25rem;
         max-width: 2rem;
      }

      .tile {
         width:50%;
      }

      .center-queue-card {
         border-right:0;
      }
   }
</style>

<div class="container-fluid" ng-cloak>
   <div class="app-panel transition">

      <ng-include src="'clientDash/templates/navbar.html'"></ng-include>

      <div class="row">
         <div class="col-12">
            <div class="card bg-primary">
               <div class="card-block">
                  <h4 class="display-4 text-center text-white">911 Caller Queue</h4>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-12">
            <div class="card no-border">
               <nav class="nav nav-pills nav-justified">

                     <li class="nav-item col-12 col-lg-6 no-padding text-lg-center">
                        <a class="nav-link active" data-toggle="tab" href="#activeCalls" role="tab">911 Call Queue <span id='callqueuebadge' class="badge badge-default">{{activeCallGroups.length}}</span></a>
                     </li>
                     <li class="nav-item col-12 col-lg-6 no-padding text-lg-center" ng-show="closedCalls.length > 0">
                        <a class="nav-link" data-toggle="tab" href="#closedCalls" role="tab">Closed Calls <span id='callqueuebadge' class="badge badge-default">{{closedCalls.length}}</span></a>
                     </li>

               </nav>
            </div>
         </div>
      </div>


      <div class="tab-content">
         <!-- Start Active Calls Tab -->
         <div class="tab-pane active" id="activeCalls" role="tabpanel">

            <div ng-repeat="callGroup in activeCallGroups">

               <div class="groupheader card" ng-if="callGroup.length > 1">
                  <div class="card-header text-center small-padding">
                     <h5 class='no-bottom-margin'> <span class='emergencygroup'>{{callGroup[0].dialogAction.slots.EmergencyType}}</span> - Related Incidents  <span id='relatedincidentsbadge' class="badge badge-default">{{callGroup.length}}</span> </h5>
                  </div>
                  <div class="card-block small-card-block">
                     <!-- Insert the <div class="queue-row row"> of each incident in the group -->



                     <!-- This element is the repeating element of the queue items -->
                     <div class="queue-row row" ng-repeat="caller in callGroup">


                        <div class="col-12">
                           <div class="col-12">
                              <div class="row card-group no-bottom-margin">
                                 <div class="col-12 card priority-block border-colored rounded-top priority{{caller.sessionAttributes.PriorityValue}} priority{{caller.sessionAttributes.PriorityValue}}-background" ng-click="openDetails(caller._id)">
                                    <p></p>
                                 </div>
                                 <div class="col-12 col-sm-12 card border-colored priority{{caller.sessionAttributes.PriorityValue}}">
                                    <div class="row">
                                       <div class="col-12 col-sm-6 col-md-3">
                                          <h5 class="card-title">Emergency</h5>
                                          <p class="card-text">
                                             <!-- Traffic Accident -->
                                             {{caller.dialogAction.slots.EmergencyType}}
                                          </p>
                                       </div>
                                       <div class="col-12 col-sm-6 col-md-3">
                                          <h5 class="card-title">Emergency</h5>
                                          <p class="card-text">
                                             <!-- Traffic Accident -->
                                             {{caller.dialogAction.slots.EmergencyType}}
                                          </p>
                                       </div>
                                       <div class="col-12 col-sm-6  col-md-3">
                                          <h5 class="card-title">Call Duration</h5>
                                          <p class="card-text">
                                             <!-- 10m 32s -->
                                             {{caller.dialogAction.endTime}}-{{caller.dialogAction.startTime}}
                                          </p>
                                       </div>
                                       <div class="col-12 col-sm-6  col-md-3">
                                          <h5 class="card-title">Caller Role</h5>
                                          <p class="card-text">
                                             {{caller.dialogAction.slots.CallerRole}}
                                          </p>
                                       </div>
                                       <div class="col-12 col-sm-6  col-md-3 d-flex flex-column flex-sm-row">
                                             <div class="tile pr-3">
                                                <h5 class="card-title">Previous</h5>
                                                <p class="card-text">
                                                   {{caller.previous.length}}
                                                </p>
                                             </div>
                                             <div class="tile">
                                                <h5 class="card-title">Incident</h5>
                                                <p class="card-text">
                                                   {{callGroup.length}}
                                                </p>
                                             </div>
                                       </div>
                                    </div>
                                 </div>

                                 <div class="hidden-xs-down card arrow-lt border-colored priority{{caller.sessionAttributes.PriorityValue}}" ng-click="openDetails(caller._id)">
							               <img src='common/images/back-arrow-lt.png' class=''/>
						               </div>

                              </div>
                           </div>
                        </div>
                     </div>
                     <!--End Individual Call Block-->

                  </div>
               </div>

               <!--End Call Group Block-->

               <!-- Start Single Call Block -->
               <div class="queue-row row" ng-repeat="call in callGroup" ng-if="callGroup.length == 1">


                  <div class="col-12">
                     <div class="col-12">
                        <div class="row card-group no-bottom-margin">
                           <div class="col-12 card priority-block border-colored rounded-top priority{{call.sessionAttributes.PriorityValue}} priority{{call.sessionAttributes.PriorityValue}}-background" ng-click="openDetails(call._id)">
                              <p></p>
                           </div>
                           <div class="col-12 col-sm-12 card border-colored priority{{call.sessionAttributes.PriorityValue}}">
                              <div class="row">
                                 <div class="col-12 col-sm-6 col-md-3">
                                    <h5 class="card-title">Emergency</h5>
                                    <p class="card-text">
                                       <!-- Traffic Accident -->
                                       {{call.dialogAction.slots.EmergencyType}}
                                    </p>
                                 </div>
                                 <div class="col-12 col-sm-6  col-md-3">
                                    <h5 class="card-title">Call Duration</h5>
                                    <p class="card-text">
                                       <!-- 10m 32s -->
                                       {{call.dialogAction.endTime}}-{{call.dialogAction.startTime}}
                                    </p>
                                 </div>
                                 <div class="col-12 col-sm-6  col-md-3">
                                    <h5 class="card-title">Caller Role</h5>
                                    <p class="card-text">

                                       {{call.dialogAction.slots.CallerRole}}
                                    </p>
                                 </div>
                                 <div class="col-12 col-sm-6  col-md-3 d-flex flex-column flex-sm-row">
                                       <div class="tile pr-3">
                                          <h5 class="card-title">Previous</h5>
                                          <p class="card-text">
                                             {{call.previous.length}}
                                          </p>
                                       </div>
                                       <div class="tile">
                                          <h5 class="card-title">Incident</h5>
                                          <p class="card-text">
                                             0
                                          </p>
                                       </div>
                                 </div>
                              </div>
                           </div>

                           <div class="hidden-xs-down card arrow-lt border-colored priority{{call.sessionAttributes.PriorityValue}}" ng-click="openDetails(call._id)">
                              <img src='common/images/back-arrow-lt.png' class=''/>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               <!-- End Single Call Block -->

            </div>
         </div>
         <!-- End Active Calls Tab -->

         <!-- Start Closed Calls Tab -->
         <div class="tab-pane" id="closedCalls" role="tabpanel">

            <div class="queue-row row" ng-repeat="call in closedCalls">


               <div class="col-12">
                  <div class="col-12">
                     <div class="row card-group no-bottom-margin">
                        <div class="col-12 card priority-block border-colored rounded-top" ng-click="openDetails(call._id)">
                           <p></p>
                        </div>
                        <div class="col-12 col-sm-12 card border-colored">
                           <div class="row">
                              <div class="col-12 col-sm-6 col-md-3">
                                 <h5 class="card-title">Emergency</h5>
                                 <p class="card-text">
                                    <!-- Traffic Accident -->
                                    {{call.dialogAction.slots.EmergencyType}}
                                 </p>
                              </div>
                              <div class="col-12 col-sm-6  col-md-3">
                                 <h5 class="card-title">Call Duration</h5>
                                 <p class="card-text">
                                    <!-- 10m 32s -->
                                    {{call.dialogAction.endTime}}-{{call.dialogAction.startTime}}
                                 </p>
                              </div>
                              <div class="col-12 col-sm-6  col-md-3">
                                 <h5 class="card-title">Caller Role</h5>
                                 <p class="card-text">

                                    {{call.dialogAction.slots.CallerRole}}
                                 </p>
                              </div>
                              <div class="col-12 col-sm-6  col-md-3 d-flex flex-column flex-sm-row">
                                    <div class="tile pr-3">
                                       <h5 class="card-title">Previous</h5>
                                       <p class="card-text">
                                          {{call.previous.length}}
                                       </p>
                                    </div>
                                    <div class="tile">
                                       <h5 class="card-title">Incident</h5>
                                       <p class="card-text">
                                          0
                                       </p>
                                    </div>
                              </div>
                           </div>
                        </div>

                        <div class="hidden-xs-down card arrow-lt border-colored" ng-click="openDetails(call._id)">
                           <img src='common/images/back-arrow-lt.png' class=''/>
                        </div>

                     </div>
                  </div>
               </div>
            </div>

         </div>
         <!-- End Closed Calls Tab -->

      </div>

   </div>
</div>

<script>
   $( document ).ready(function() {
         $(".border-colored").addClass("priority1");
         $(".priority-block").addClass("priority1-background");
   });
</script>
