
<div class="container">

  <div class="app-panel transition">

		<ng-include src="'clientDash/templates/navbar.html'"></ng-include>

		<div id="header" class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="text-center">Call Details</h1>
			</div>
		</div>

		<div class="row">

         <div class="col-md-12">
            <div class="panel panel-default">
   				<div class="panel-heading">
   					Emergency:
   				</div>
               <div class="panel-body">
                  {{callDetail.slots.Emergency}}
               </div>
   			</div>
         </div>

         <!-- First Col -->
         <div class="col-md-6">
   			<div class="panel panel-default">
   				<div class="panel-heading">
   					Caller Name:
   				</div>
               <div class="panel-body">
                  {{callDetail.slots.FirstName}} {{callDetail.lastName}}
               </div>
   			</div>
            <div class="panel panel-default">
   				<div class="panel-heading">
   					Phone Number:
   				</div>
               <div class="panel-body">
                  {{callDetail.slots.Phone}}
               </div>
   			</div>
            <div class="panel panel-default">
   				<div class="panel-heading">
   					Call Duration:
   				</div>
               <div class="panel-body">
                  {{callDetail.startTime}} - {{callDetail.endTime}}
               </div>
   			</div>
         </div>

         <!-- Second Col -->
         <div class="col-md-6">
   			<div class="panel panel-default">
   				<div class="panel-heading">
   					Location From User:
   				</div>
               <div class="panel-body">
                  {{callDetail.slots.Location}}
               </div>
   			</div>
            <div class="panel panel-default">
   				<div class="panel-heading">
   					Location From Device:
   				</div>
               <div class="panel-body">
                  {{callDetail.locationSpecific}} {{callDetail.locationCity}}, {{callDetail.locationState}}
               </div>
   			</div>
            <div class="panel panel-default">
   				<div class="panel-heading">
   					Location Lat/Long:
   				</div>
               <div class="panel-body">
                  {{callDetail.locationLat}}, {{callDetail.locationLong}}
               </div>
   			</div>
         </div>

         <div class="col-md-12">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <a href="#">View Chat Transcript</a>
               </div>
               <div class="panel-body">
                  Panel content
               </div>
            </div>
         </div>

         <div class="col-md-12">
            <div class="panel panel-default">
               <div class="panel-heading">
                  Location Map
               </div>
               <div class="panel-body">
                  <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDpK2IO0V5MZqBn9CUaseMZDHOpZnSxBwY
                     &q=Mackinac+Hall,Allendale+MI" allowfullscreen>
                  </iframe>
               </div>
            </div>
         </div>
		</div>
	</div>

</div>
