<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		var app = angular.module("callerList", []);
		
		app.controller("callers", function($scope, $window) {
			$scope.detailsList = [
        {detailType:"phoneNum", detailLabel:"Phone Number", detailContent:"616-555-5134"},
				{detailType:"emergencyType", detailLabel:"Emergency Type", detailContent:"Heart Attack"},
				{detailType:"location", detailLabel:"Emergency Location", detailContent:"111 Oak Street, Grand Rapids, MI"},
				{detailType:"numInjuries", detailLabel:"Number Of Injuries", detailContent:"Zero"},
			];
		});
	</script>
	<style>
		body {
			background-color: #1D1C19;
			padding-top:2em;
			padding-bottom:2em;
		}
		
		#header {
			margin-bottom:20px;
		}
	</style>
</head>
<body class="container-fluid col-xs-10 col-xs-offset-1">
	<div id="header" class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="text-center">Call Details</h1>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<a href="#">View Chat Transcript</a>
		</div>
	</div>
	<div data-ng-app="callerList" data-ng-controller="callers">
		<div class="panel panel-default" data-ng-repeat="detail in detailsList">
			<div class="panel-heading">
				{{ detail.detailLabel }}
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<span class="col-xs-6">{{ detail.detailContent }}</span>
					</div>
				</li>
			</ul>
		</div>
	</div>

</body>
</html>
