
<div class="container">

  <div class="app-panel transition">

		<ng-include src="'clientDash/templates/navbar.html'"></ng-include>

		<div id="header" class="panel panel-primary">
			<div class="panel-heading">
				<h1 class="text-center">Call Details</h1>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="#">View Chat Transcript</a>
			</div>
		</div>
		<div>
			<div class="panel panel-default" data-ng-repeat="detail in detailsList">
				<div class="panel-heading">
					{{ detail.detailLabel }}
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<div class="row">
							<span class="col-xs-6">{{ detail.detailContent }}</span>
						</div>
					</li>
				</ul>
			</div>
         <div class="panel panel-default">
            <div class="panel-heading">
               Location Map
            </div>
            <div class="panel-body">
               <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDpK2IO0V5MZqBn9CUaseMZDHOpZnSxBwY
                  &q=Mackinac+Hall,Allendale+MI" allowfullscreen>
               </iframe>
            </div>
         </div>
		</div>
	</div>

</div>
