<div class="container">

  <div class="app-panel transition">

      <ng-include src="'clientDash/templates/navbar.html'"></ng-include>

      <div class="jumbotron">
         <h1>Click the Button Below to Access the 911 Chat Page</h1>
         </br>
         <!-- <p><a class="btn btn-primary btn-lg" href="/" role="button">{{testString}}</a></p> -->

         <div class="fb-send-to-messenger"
            messenger_app_id="176922396131150"
            page_id="1251960474892792"
            data-ref="1"
            color="blue"
            size="standard">
         </div>

         <!-- <div class="fb-messengermessageus"
           messenger_app_id="176922396131150"
           page_id="1251960474892792"
           color="blue"
           size="large" >
         </div> -->

         <!-- <div class="fb-page"
            data-href="https://www.facebook.com/1251960474892792/"
            data-tabs="messages"
            data-width="400"
            data-height="300"
            data-small-header="true">
         <div class="fb-xfbml-parse-ignore">
           <blockquote></blockquote>
         </div> -->
    </div>
      </div>

      <script>

         FB.Event.subscribe('send_to_messenger', function(e) {
            console.log("User was set to ChatBot");
            console.log("User id is" + e.ref);

         });

      </script>


  </div>
</div>
