<div class="container">
  <div class="app-panel transition">

      <ng-include src="'clientDash/templates/navbar.html'"></ng-include>
      <div class="page-header">
        <h1>Cognitive 911 Chat-bot</h1>
      </div>
      <!-- <div class="row">
         <div class="col-md-12">
            <img src="/common/images/motorola-logo-original-blue.png" class="img-rounded img-responsive">
         </div>
      </div> -->

      <div class="jumbotron">
         <img src="/common/images/motorola-logo-original-blue.png" class="img-rounded img-responsive">
         </br>
         </br>
         <p>Team Motorola looks to build an assistive cognitive-bot for 911 call-takers. Through leveraging Amazon Web Services (AWS) technologies and frameworks, we can interact with multiple callers simultaneously though voice and text. By utilizing a modified MEAN JavaScript web stack, we will develop an intuitive web application that can provide 911 call-takers with meaningful insights. In doing so, call-takers can better assist 911 callers by providing better and more informative service, thus improving and even saving lives.</p>
         <!-- <div class="btn-group" role="group">

            <p class="btn-group"><a class="btn btn-primary btn-lg" href="/queue" role="button">Go to Caller Queue</a></p>
            <p class="btn-group"><a class="btn btn-primary btn-lg" href="/detail/1" role="button">Go to Details Page</a></p>
            <p class="btn-group"><a class="btn btn-primary btn-lg" href="/chat" role="button">Go to Chat-Bot Page</a></p>
         </div> -->

      </div>

  </div>
</div>
