<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">

   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <a class="navbar-brand" href="/">
     <!-- <img alt="Brand" src="/common/images/motorola-logo-nav.png" class="img-responsive" style="height:100%;"> -->
     911 Chat-Bot
   </a>

      <div class="collapse navbar-collapse" id="main-navbar">
         <ul class="nav navbar-nav mr-auto">
           <li class="nav-item active">
             <a href="/" class="nav-link ">Home Page<span class="sr-only">(current)</span></a>
          </li>
           <li class="nav-item">
             <a ng-show="userInfo" href="/queue" class="nav-link">Incoming Call Queue</a>
           </li>
           <li class="nav-item">
             <a href="/chat" class="nav-link">Caller Portal</span></a>
           </li>
         </ul>

         <ul class="nav navbar-nav clearfix">
           <li ng-hide="userInfo" class="nav-item float-right">
             <a href="/login" class="nav-link">Login</span></a>
           </li>
           <li ng-show="userInfo" class="nav-item float-right">
             <a href="/logout" class="nav-link">Logout</span></a>
           </li>
         </ul>
      </div><!-- /.navbar-collapse -->
      
</nav>

<script type="text/javascript">
   $(document).ready(function() {
     $('li.active').removeClass('active');
     $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
   });
</script>
