<nav class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>

         <a class="navbar-brand" href="/">
           <!-- <img alt="Brand" src="/common/images/motorola-logo-nav.png" class="img-responsive" style="height:100%;"> -->
           911 Chat-Bot
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
         <ul class="nav navbar-nav">
           <li class="active"><a href="/">Home Page<span class="sr-only">(current)</span></a></li>
           <li><a href="/queue">Caller Queue</a></li>
           <li>
             <a href="/chat" >Caller Portal</span></a>
           </li>
         </ul>
      </div><!-- /.navbar-collapse -->
   </div>
</nav>
