
<div class="container">

  <div class="app-panel transition">

      <ng-include src="'clientDash/templates/navbar.html'"></ng-include>

      <div class="jumbotron">

          <h2>Register</h2>
          <form name="form" ng-submit="register()" role="form">
              <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                  <label for="password2">Confirm Password</label>
                  <input type="password" name="password2" id="password2" class="form-control" ng-model="password2" required />
                  <span ng-show="password != password2" class="help-block">Password don't match</span>
                  <span ng-show="form.password2.$dirty && form.password2.$error.required" class="help-block">Password is required</span>
              </div>
              <div class="form-actions">
                  <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
              </div>
              </br>
              <div ng-show="validLogin" class="alert alert-danger alert-dismissible" role="alert">Invalid Username/Password, Please try again.</div>
              <!-- <span ng-show="validLogin" class="help-block">Invalid Username/Password, Please try again.</span> -->
          </form>

      </div>

   </div>
</div>
